{{ define "main" -}}

{{- end }}


{{ define "main" -}}
<div class="homepage-content">
  <h1 class="content-header">
    {{.Title}}
  </h1>

  <div class="content-body">
    <table class="content-body-list">
      <thead>
        <!-- <th>Faction</th> -->
        <!-- <th>Icon</th> -->
      </thead>
      <tbody>
        {{ range .Data.Pages -}}
        <tr>
          <td class="list-item">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </td>
          <td class="list-image">
            <img src="https://cdn.discordapp.com/attachments/759414542240972845/1346599793320787998/image.png?ex=67c96f09&is=67c81d89&hm=132e54eadaa18eb00096bb543cf524d18e315db31625ef1167ce5352ff1c489b&">
          </td>
        </tr>
        {{- end }}
      </tbody>
    </table>
  </div>
</div>
{{- end }}