{{ define "main" -}}

{{- end }}


{{ define "main" -}}
<div class="homepage-content">
  <h1 class="content-header">
    {{.Title}}
  </h1>

  <div class="content-body">
    <table class="content-body-list">
      <thead>
        <!-- <th>Faction</th> -->
        <!-- <th>Icon</th> -->
      </thead>
      <tbody>
        {{ range .Data.Pages -}}
        <tr>
          <td class="list-item">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </td>
          <td class="list-image">
            <a href="{{ .Permalink }}">
              <img src="/images/faction_icons/symbol48_{{ .Params.internalTitle }}.webp" alt="{{ .Title }}" />
            </a>
          </td>
        </tr>
        {{- end }}
      </tbody>
    </table>
  </div>
</div>
{{- end }}